* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica';
    

}

body {
    
    background-image: linear-gradient(to right, #093312, #195426, #22a33e );
    color: aliceblue;
}

header {
    border-bottom: 1px solid #ccc;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header h1 > img {
    width: 1.8rem;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-input {
    background-color: #093312;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    color: #ddd;
    width: 400px;

}

#search-input::placeholder {
    color: #ccc;
}

#export-notes {
    background-color: #093312;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: .4seg;
}

#export-notes:hover {
    background-color: #fff;
    color: #093312;
}

#add-note-container {
    display: flex;
    width: 400px;
    margin: 1rem auto 0;
    gap: 1rem;
}

#add-note-container input,
#add-note-container button {
    padding: 10px;
    border-radius: 5px;
}

#add-note-container input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #093312;
    color: #fff;
}

#add-note-container button {
    cursor: pointer;
    background-color: #195426;
    color: #fff;
}

#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 2rem;
    gap: 2rem;
}

.note {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #093312;
    color: #fff;
    position: relative;
}

.note textarea {
    background-color: transparent;
    resize: none;
    color: #fff;
    border: none;
    height: 100%;
    outline: none;
}

.note .bi-pin {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    background-color: #093312;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.note:hover > i {
    opacity: 1;
}

.note .bi-x-lg,
.note .bi-file-earmark-plus {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    padding: 5px;
    transition: .3s;
    color: #195426;
    cursor: pointer;
    opacity: 0;
}

.note .bi-file-earmark-plus {
    top: 40px;
}


.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover {
    color: #fff
}

.note.fixed {
    background-color: #3a8f4c;
}
/*Responsividade*/

@media(max-width: 450px) {
    header {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    #search-container {
        width: 100%;
    }

    #search-input {
        width: 100%;
    }

    #add-note-container {
        width: 100%;
        padding: 0.2rem;
    }

    #notes-container {
        grid-template-columns: repeat(auto-fill, 100%) ;
    }
}